target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Ignore Moquette persistent storage
*.h2

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

# Eclipse IDE Files
.classpath
.project
.settings/*
*/.settings/*
*.factorypath

# More eclipse stuff
sensor-things-api-app/.settings/
sensor-things-api-core/.settings/
sensor-things-api-webapp/.settings/
sensor-things-api-http/.settings/
sensor-things-api-mqtt/.settings/

sensor-things-api-app/console.log

# IntelliJ IDE Files
.idea/*
*.iml
*.checkstyle

# NixOS utility
/shell.nix
/.envrc

# Visual Studio Code files
/.vscode/
app/nbactions.xml
